@layer base {
    html,
    body {
        min-width: 1920px;
        font-family: 'Raleway', sans-serif;
        font-feature-settings: 'lnum';

        @apply antialiased bg-slate-100;

        -webkit-tap-highlight-color: transparent;
    }
}

:root {

}
